
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red: #eb0f18;
$yellow: #fbf800;
$black: #000000;
$blue: #5184aa;
$white: #ffffff;